.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.justify-content-center {
  justify-content: center!important;
}

.flex-wrap {
  flex-wrap: wrap!important;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.d-flex {
  display: flex!important;
}

.text-decoration-none {
  text-decoration: none!important;
}

.align-items-center {
  align-items: center!important;
}

.link-body-emphasis {
  color: RGBA(var(--bs-emphasis-color-rgb),var(--bs-link-opacity, 1))!important;
  -webkit-text-decoration-color: RGBA(var(--bs-emphasis-color-rgb),var(--bs-link-underline-opacity,1))!important;
  text-decoration-color: RGBA(var(--bs-emphasis-color-rgb),var(--bs-link-underline-opacity, 1))!important;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.me-2 {
  margin-right: 0.5rem!important;
}

.fs-4 {
  font-size: calc(1.275rem + .3vw)!important;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #da568b;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link.active {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.App {
  text-align: center;
}

.nav-item {
box-sizing: border-box;
}

.tittle {
  font-family: "Alice", sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  font-size: 45px;
  color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.kotak {
  display: inline-block;
  margin: 30px;
  border: 2px solid #626262;
  border-radius: 30px;
  padding: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
